.App {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;

  &__comment-form {
    width: 30%;
  }

  &__comment-list {
    width: 30%;
  }
}
